{% extends "base.html" %}
{% load i18n %}
{% block txtheader %}{% trans "График" %}{% endblock %}
{% block init_css%}
  <link href="/static/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet">
  <link href="/static/svsignal/css/svsignal.css" rel="stylesheet">
  {% endblock %}
{% block init_js%}
  <script src="/static/datetimepicker/jquery.datetimepicker.full.min.js"></script>
  <script src="/static/apexcharts/apexcharts.js"></script>
  <script src="/static/momentjs/moment.min.js"></script>
  <script src="/static/momentjs/moment-timezone-with-data-10-year-range.min.js"></script>
  <script src="/static/svsignal/js/svsignal.js" type="text/javascript"></script>
{% endblock %}
{% block without_web_noty %}{% endblock %}
{% block contentdata %}
    <div class="content-fluid">
      <div id="div_period" class="p-1 m-0" style="display: flex">
        <div style="flex: 0 0 20%; max-width: 20%"></div>
        <div style="flex: 0 0 60%; max-width: 60%; text-align: center">
          Период с:<input class="text-center mdb-input" name="begin" type="text" id="dtp_begin">
          по<input class="text-center mdb-input" name="end" type="text" id="dtp_end">
          <button class="btn btn-sm btn-primary m-0" id="btnQuery">Запрос данных</button>
        </div>
        <div style="flex: 0 0 20%; max-width: 20%; text-align: end">
          <button class="btn btn-sm btn-primary" id="btnList" style="display: none; margin: 0; padding: .3rem; font-size: .8rem;"><i class="far fa-list-alt" style="font-size: 1.8em; vertical-align: middle"></i></button>
        </div>
      </div>
      <div class="m-0" style="display: flex">
        <div id="div_charts" class="col p-0" style="overflow-y: auto"></div>
        <div id="div_resize" style="display: none; width:.25rem; float: left; cursor: col-resize" onmousedown="start_resize(event)"></div>
        <div id="signals" class="p-1" style="display: none">
          <div class="p-0 m-0">
            <input id="findSignal" class="mdb-input w-100" type="text" placeholder="Поиск...">
          </div>
          <div class="p-0 m-0">
            <div id="listSignals" class="p-0 m-0 w-100" style="overflow-y: auto">
              <ul>
                <li>
                  <details class="trendList">
                    <summary class="trendList">
                      <span>alarmzone</span>
                      <span class="trendCount">7</span>
                    </summary>
                    <ul>
                      <li>
                        <i class="far fa-square"></i>
                        <span>Ошибка выполнения команды  чтение/запись</span>
                        <div style="float: right; padding-left: .25rem">
                          <i class="fas fa-cog"></i>
                        </div>
                      </li>
                      <li>
                        <i class="far fa-check-square"></i>
                        <span>Trend 12</span>
                        <div style="float: right; padding-left: .25rem">
                          <i class="fas fa-cog"></i>
                        </div>
                      </li>
                    </ul>
                  </details>
                </li>
                <li>
                  <details class="trendList">
                    <summary class="trendList">
                      1.0.2
                    </summary>
                  </details>
                </li>
                <li>1.0.3</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
