{% extends "base.html" %}
{% load i18n %}
{% block txtheader %}{{title}}{% endblock %}

{% block datatables_css_js %}
<script src="/static/momentjs/moment.min.js"></script>
<script src="/static/momentjs/moment-timezone-with-data-10-year-range.min.js"></script>
<script src="/static/apexcharts/apexcharts.min.js"></script>
<link rel="stylesheet" href="/static/datetimepicker/jquery.datetimepicker.min.css">
<script type="text/javascript" src="/static/datetimepicker/jquery.datetimepicker.full.min.js"></script>
{% endblock %}

{% block contentdata %}



<script src="/static/momentjs/moment.min.js"></script>
<script src="/static/momentjs/moment-timezone-with-data-10-year-range.min.js"></script>



<!--<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>-->
<script src="/static/apexcharts/apexcharts.min.js"></script>

<link rel="stylesheet" href="/static/datetimepicker/jquery.datetimepicker.min.css">
<script type="text/javascript" src="/static/datetimepicker/jquery.datetimepicker.full.min.js"></script>


<script>
var Signals = [{% for name in Signals %}"{{name}}",{% endfor %}];
var Begin = {{Begin}};
var End = {{End}};
var TimeZone = "{{TimeZone}}";
var Cols = {{Cols}};
var Height = '{{Height}}';
var UseGroupChart = {{GroupChart}};
</script>

<link href="/static/svsignal_dj_app/css/svsignal.css"  rel="stylesheet">
<script src="/static/svsignal_dj_app/js/svsignal.js" type="text/javascript"></script>
<div class="container-fluid" id="container">
  <div class="row">
    <div class="col text-center p-2">
        Период с: <input class="text-center" type="text" id="begin" value="">
        по<input class="text-center" type="text" id="end" value="">
        <button class="btn btn-sm btn-info m-0" id="btnQuery">Запрос данных</button>
    </div>
  </div>
</div>
{% endblock %}