input.mdb-input {
  border: none;
  border-bottom: 1px solid #ced4da;
  outline: none;
}

.autoZoom {
  margin-left: 5px;
}
.autoZoom svg {
  fill: #6e8192;
}
.autoZoom:hover svg {
  fill: #333;
}

#signals, #div_charts {
  border: 1px solid #ced4da;
  border-radius: .25rem;
}
details.trendList {
  background-color: rgba(0, 0, 0, 0.05);
  margin-top: .1rem;
  border-radius: .25rem; 
}
details.trendList[open] {
  padding-bottom: 2px;
}

summary.trendList {
  list-style-position: outside;
  margin-left: 1.2rem;
  padding: 0 .25rem;
}
details.trendList > ul{
  background-color: rgba(0, 0, 0, 0.1);
  padding-left: .25rem;
  margin-left: .25rem;
  list-style: none;
}

span.trendCount {
  border: 1px solid #ced4da; 
  border-radius: .25rem; 
  float: right; 
  text-align: center; 
  min-width: 2rem; 
  max-width: 5rem;
}
ul.trendList {
  padding-left: 1rem;
  list-style-type: none;
}
ul.treeNode {
  margin-bottom: .1rem;
  margin-right: 0;
  list-style: none;
}

